{{#page-header title='Credits' description='Special thanks go to the following sources'}}

<ul>
    <li><a href="https://accountabilityhack.nl/" target="_blank">Accountability Hack</a></li>
    <li><a href="http://openspending.nl/api/v1/doc/" target="_blank">Openspending API</a></li>
</ul>

{{/page-header}}
