{{#page-header title='Data' description='Have lots of fun exploring interesting data'}}
    <form>

        <div class="form-group row">
            <label for="year" class="col-sm-2 col-form-label">Year:</label>
            <div class="col-sm-10">
                {{#x-select value=year id="year" class="custom-select" action="selectYear" as |xs|}}
                    {{#xs.option value=null}}All{{/xs.option}}
                    {{#each years as |year|}}
                        {{#xs.option value=year}}{{year}}{{/xs.option}}
                    {{/each}}
                {{/x-select}}
            </div>
        </div>

    </form>
{{/page-header}}
