{{#page-header title='Governments' description='List of government bodies by kind'}}
    {{#if governments.length}}
        <p>Found {{governments.length}} governments.</p>
    {{else}}
        <p>No governments found.</p>
    {{/if}}
{{/page-header}}
